.cover-container{
  height: 1000px;
  width: 100%;
  background-color: #ffbe76;
  /* object-fit: contain; 
  flex-direction: column;
  align-items: center;
  background-color: #7ed6df;
  display: flex;
  justify-content: center;
  box-sizing: content-box; */

}

.cover-container > h1 {
text-align: center;
/* background-color: aqua; */
font-size: 100px;
padding-top: 300px;
  
  
}

.cover-container >p{
/* background-color: aquamarine; */
text-align: center;

font-size: 32px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

margin-top: 100px;
margin-left: auto;
margin-right: auto;
}



.buttons {
  text-align: center;

  width: 100%;
  margin-top: 100px;
  /* min-width: 700px; */
  /* display: flex; */
  /* background-color: aquamarine; */
  
  justify-content: space-around;
}

.buttons a {

  margin: 50px;
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 960px) {
  .cover-container > h1 {
    font-size: 50px;
    text-align: center;
  }

  .cover-container > p {
    text-align: center;
    font-size: 22px;
    width: 85%;
  }

}