
#homeFullScreen {
    width: 10000px;
    /* height: 100%; */
    height: 1000px; 
    display: block;
    /* background-repeat: no-repeat; */
    /* background-attachment: scroll; */
    /* background-size: cover; */
    /* background-position: top center; */
}

#homeFullScreen {
    /* background-image: url('../images/header.png'); */
    background: #e9d5a1;
    /* background: #c8392c;  */

    overflow: hidden;
}


#homeFullScreen {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.header-text h1
{
    font-size: 60px;
    color: #353239;
    /* text-transform: uppercase; */
    font-family: "Franklin Gothic Medium","Arial Narrow",Arial,sans-serif;
}

.header-text .vertical-line
{
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-text p
{
    font-size: 26px;
    color: #353239;
}

/* icono */
.header-icon {
	height: 150px;
	width: 150px;
}

